<h3>Welcome to STORD URL Shortener</h3>
<h6>Please enter a URL in the field below and watch the magic happen!</h6>

<form action="/shrinkUrl" method="POST">
  <div class="form-group">
    <input type="url" class="form-control" name="longUrl" id="longUrl" placeholder="Enter URL" required>
  </div>
  <button type="submit" class="btn btn-dark">Submit</button>
</form>
