<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>STORD URL Shortener</title>
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
  <style>
    .bodyContainer {
      margin: 3% 0 0 0;
    }
    .bodyContainer a {
      color: #fff;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">STORD URL Shotener</a>
    </div>
  </nav>
  <div class="container">
    <div class="bodyContainer">
      {{{body}}}
    </div>
  </div>
</body>
</html>