<h3>Here is the generated short URL</h3>

<form action={{shortUrl}} method="GET" target="_blank">
  <div class="form-group">
    <label for="shortUrl">Short URL</label>
    <input type="url" class="form-control" id="shortUrl" value=http://{{host}}/{{shortUrl}}>
  </div>
  <button class="btn btn-dark"><a href='/'>Back to main page</a></button>
  <button type="submit" class="btn btn-dark">Visit Site</button>
</form>
